{% load static %}

<!DOCTYPE html>
<html lang = "ja-jp">
<head>
    <title>HAiK Health Care</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'posts/style.css' %}">
    <link href="http://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
</head>

<body>
	<div class="page-header">
		<h1><a href="">{{ post.post_title }}</a></h1>
	</div>
	<div class="content container">
		<div "row">
			<div class="col-md-8">
				<div class="post">
					<div class="date">
						{{ post.pub_date }}
					</div>
					<p>{{ post.body }}</p>
				</div>
			</div>
		</div>
	</div>
</body>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>>{% endif %}
</html>